// Place all the styles related to the students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

[class*='col-'] {
  float: left;
}

.col-1-1 {
  width: 20%;
}

.col-1-2 {
  width: 20%;
}

.col-2-1{
  width: 20%;
}

.col-2-2{
  width: 20%;
}

