// Place all the styles related to the students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
margin:0;
padding:0;
color:#000;
background:#CCFFFF;
}

.top{
  background:#000000;
  clear:both;
}

.bottom{
  background:#FFFFFF;
  clear:both;
}

.quad1{
  float: left;
  background:#33CCCC;
  width:300px;
  padding:5px 10px;
}

.quad2{
  float: right;
  background:#006699;
  width:300px;
  padding:5px 10px;
}

.quad3{
  float: left;
  background:#009999;
  width:300px;
  padding:5px 10px;
}

.quad4{
  float: right;
  background:#00CC99;
  width:300px;
  padding:5px 10px;
}

.absent{
   float: left;
   background:#CC9999;
   padding:5px 10px;
  clear:both;
}

