<div class="page-header">
</div>
<% @current_student = current_student %>

<h2>All Students</h2>

<% @students.each do |student| %>
  <%= image_tag student.image_url, size: "150x150" %>
  <%= student.name %>
  <%= student.nickname %>
  <%= student.email %>
  <br>
 <% end %>