<h1>Attendance#index</h1>
<p>Find me in app/views/attendance/index.html.erb</p>

<p>Quadrant 1</p>
<% @in_seat_1.each do |student| %>
  <li><%= student.name %></li>
  <% end %>
</p>
<p>Quadrant 2</p>
<% @in_seat_2.each do |student| %>
  <li><%= student.name %></li>
  <% end %>
</p>
<p>Quadrant 3</p>
<% @in_seat_3.each do |student| %>
  <li><%= student.name %></li>
  <% end %>
</p>
<p>Quadrant 4</p>
<% @in_seat_4.each do |student| %>
  <li><%= student.name %></li>
  <% end %>
</p>

