<h1>Students' Attendances
  <% if(@desired_student) %>
  for <%= @desired_student.nickname %>
  <% end %>  
</h1>

<ul>
  <% @attendances.each do |attendance| %>
  <li>
    <span><%= link_to(attendance.student.nickname, student_attendances_path(attendance.student)) %></span>
    <span><%= attendance.attended_on %></span>
  </li>
  <% end %>
</ul>