<h1>Attendance#index</h1>
<p>Find me in app/views/attendance/new.html.erb</p>


<%= form_for :attendance, url: post_attendance_path do |f| %>
  <%= f.label :seat %>:
  <%= f.text_field :seat %><br />
<%= f.submit %>
<% end %>

